@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors Palette */
/*
#181818
#373737
#1460ed
#ffffff

*/
:root {
  color-scheme: light dark;
  color: #ffffff;
  background-color: #fffffd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100px;
}

a {
  font-weight: 500;
  color: #1460ed;
  text-decoration: inherit;
}
a:hover {
  color: #fffffd;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 200px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 6em;
  border-radius: 50px;
  border: 1px solid #1460ed;
  padding: 0.4em 1em;
  font-size: 2em;
  font-family: "Barlow", sans-serif;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border: 1px solid #fffffd;
}

button:enabled {
  opacity: 1;
  cursor: pointer;
  border: 1px solid #1460ed;
}


img {
  pointer-events: none;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* Colors Palette */
/*
#181818
#373737
#1460ed
#ffffff
*/

#root {
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-weight: 600;
  max-width: 1280vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.image-size {
  display: flex;
  max-width: 160px;
  align-self: center;
}

.logo.Button {
  height: 4em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #1460ed);
  animation-name: logo-spin;
  animation-duration: 600ms;
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #1460ed);
  transform: rotate(360deg);
}

.display-field {
  font-family: "Rajdhani", sans-serif;
  margin: 0px 0px 30px 0px;
  font-size: 24rem;
}
footer {
  font-family: "Barlow", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.card {
  z-index: 1;
  margin-top: 0px;
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div.card-container {
  width: 81rem;
  height: 31rem;
  margin-top: 10px;
  box-shadow: 0px 10px 20px 0px #00000063;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}

div.card-container-animation {
  position: relative;
  content: "";
  background-image: conic-gradient(transparent 340deg, #1460ed 345deg);

  width: 300%;
  height: 600%;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 1s;
}

div.card-container-front {
  position: fixed;
  content: "";
  width: 80rem;
  height: 30rem;
  background: #373737;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  letter-spacing: 5px;
  box-shadow: inset 20px 20px 20px #0000008c;
}

input {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  cursor: pointer;
  font-weight: 700;
}

@keyframes down {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:hover {
  animation: pulse 400s infinite;
  border: 1px solid #fffffd;
}

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/*Background*/

.container-background {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  width: 100%;
}

.background-behind {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #ffffff;
  overflow: hidden;
}

#red {
  fill: none;
  opacity: 0.1;
  stroke: #373737;
  stroke-width: 4;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.1;
  stroke: #1460ed;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


#light-blue {
  fill: none;
  opacity: 0.2;
  stroke: #1460ed;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}
